.logo {
  font-weight: 500;
  font-size: 1.3rem;
}
.logo span {
  color: #556ee6;
}

nav {
  color: lighten($color: #000000, $amount: 20);
  display: flex;
  justify-content: space-between;
  padding: 0px calc((100vw - 1200px) / 2);
  height: 11vh;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

nav .links {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}
nav .links ul {
  list-style-type: none;

  list-style-type: none;
  border-radius: 2px;
  position: absolute;
  display: none;
  top: 20x;
  right: 0;
  width: 150px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}
nav .links ul li {
  padding: 4px 10px;
}
nav .links ul li:hover {
  background: #556ee6;
  color: white;
}
nav .links ul li:hover .navlink i {
  color: white;
}
nav .links .item:hover ul {
  display: block;
}
nav .links input {
  display: none;
}
nav .links .multilevel .item i {
  color: #556ee6;
  margin-right: 3px;
}
nav .links .multilevel .item {
  position: relative;
}
.links .multilevel .item label {
  margin-right: 20px;
  font-weight: 400;
  cursor: pointer;
}
.links .multilevel .item label:hover {
  color: #556ee6;
}
nav .links .multilevel {
  display: flex;
}
nav .links .menu {
  display: none;
}

@media screen and (max-width: '700px') {
  .logo {
    font-weight: 500;
    font-size: 1.3rem;
  }
  .logo span {
    color: #556ee6;
  }

  nav {
    color: lighten($color: #000000, $amount: 20);
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    height: 11vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  nav .links {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    align-items: center;
  }

  nav .links ul {
    position: static;
    width: 100vw;
    list-style-type: none;
    display: none;
    box-shadow: none;
  }
  nav .links label {
    font-weight: 500;
  }
  nav .links .menu {
    display: block;
  }
  .menu-toggle .menu-icon {
    display: block;
    height: 3px;
    width: 25px;
    margin: 3px;
    background: rgb(59, 58, 58);
    transition: all 0.3s ease-in-out;
  }

  .active .menu-icon:nth-child(2) {
    opacity: 0;
  }
  .active .menu-icon:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .active .menu-icon:nth-child(3) {
    transform: translateY(-3px) rotate(-45deg);
  }

  nav .links .item:hover ul {
    display: none;
  }
  nav .links input {
    display: none;
  }
  nav .links .multilevel {
    display: block;
    position: absolute;
    width: 100%;
    min-width: 100vw;
    background: white;
    top: 11vh;
    z-index: 1;
    left: 0;
    max-height: 0px;
    overflow: hidden;
    transition: all ease-in-out 0.9s;
  }

  nav .links .multilevel .item {
    padding: 10px 20px;
    width: '100%';
  }
  nav .links .multilevel .item li {
    padding: 10px;
    width: '100%';
  }

  .links .multilevel .item .navlink i {
    color: #556ee6;
    margin-right: 2px;
  }
  .links .multilevel .item .navlink:hover {
    color: #556ee6;
  }

  nav .links ul li:hover {
    background: none;
    color: black;
  }
  nav .links ul li:hover .navlink i {
    color: none;
  }

  nav .links #menu:checked ~ .multilevel,
  .item input[type='checkbox']:checked + ul {
    min-height: 100%;
    display: block;
  }
}
