@import "./header";

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Inter', sans-serif;
  padding: 0;
  box-sizing: border-box;
}
